/*@font-face {
	font-family:xhkt;
	src: url("xhkt.ttf") format("truetype");
}
*{
	box-sizing: border-box;
	word-break: break-word;
	font-family:"xhkt", "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}*/
.row{
	margin: 0;
}
[class*="col-"]{
	padding: 0;
}
body{
	background-color: rgb(255,255,255);
	overflow-x:hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
[data-role='page']{
	width: 100%;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}
[data-role='page']:first-child{
	display: block;
}
[data-role='header'],[data-role='content'],[data-role='footer']{
	width: 100%;
}
[data-role='header']{
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgb(255,255,255);
	/*border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;*/
	box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
	z-index: 1000;
	text-align:center;
}
[data-role='header'] [data-role='mode-head']{
	display: none;
}
[data-role='header'] [data-role='mode-head']:first-of-type{
	display:block;
}

[data-role='header'].head-search-bar{
	background-color: rgb(255,255,255);
	box-shadow: none;
	border: none;
}
[data-role='footer']{
	height: 50px;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: rgb(255,255,255);
	/*border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;*/
	box-shadow: 0px -1px 5px rgba(0,0,0,0.3);
	z-index: 1000;
}
[data-role="content"]{
	background-color: rgb(255,255,255);
	overflow-x: hidden;
	overflow-y: auto;
	/*border-left: 1px solid #999999;
	border-right: 1px solid #999999;*/
	padding: 0px;
}
/*垂直居中*/
.VMcontent{
	display: table;
}
.VMinner{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
[data-role='content'].withHeader:before{
	content: "";
	height: 50px;
	display: block;
	clear: both;
}
[data-role='content'].withFooter:after{
	content: "";
	height: 50px;
	display: block;
	clear: both;
}
[data-role='slideBar']{
	width: 50%;
	max-width: 300px;
	position: fixed;
	top: 0;
	display:none;
	padding: 5px;
}


.btn-baisc{
	color: #0099ff;
	background-color: rgba(0,0,0,0);
	border-color: #0099ff;
}
.btn-baisc:active{
	color: #FFFFFF;
	background-color: #0099ff;
  	border-color: #0088ff;
}
.btn-baisc:hover{
	color: #FFFFFF;
	background-color: #0099ff;
  	border-color: #0088ff;
}
.btn-unable{
	pointer-events: none;
	color: #FFFFFF;
	background-color: #CCCCCC;
  	border-color: #CCCCCC;
}

/*顶部固定栏*/
[data-role='header'] h4,.head-search{
	margin: 0;
	position:absolute;
	margin:auto;
	left:50px;
	margin-top: 17px;
	margin-left: 5px;
	margin-right: 5px;
	word-break:keep-all;           
	white-space:nowrap;          
	overflow:hidden;               
	text-overflow:ellipsis;
	text-align: center;
}
.head-search{
	border-bottom: 1px solid #999999;
}
.head-search input{
	border: none;
	margin-top: -3px;
	background-color: rgba(0,0,0,0);
	outline:none;
	
}
.header-search span{
	width: 20px;
}
.btn-head-right{
	width: 50px;
	height: 50px;
	float: right;
	margin: 0;
	border-radius: 0;
	font-size: 1.3em;
	/*padding-top: 15px;*/
	line-height: 50px;
	position: absolute;
	top: 0;
	right: 0;
}
.btn-head-left{
	width: 50px;
	height: 50px;
	float: left;
	border-radius: 0;
	font-size: 1.3em;
	/*padding-top: 15px;*/
	line-height: 50px;
	position: absolute;
	top: 0;
	left: 0;
}
.btn-head-left label,.btn-head-right label{
	font-size: 10px;font-weight: 100;margin-top: -5px;display: block;line-height: 10px;
}
/*底部页面内导航栏*/
[data-role="nav"]{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 50px;
}
[data-role="nav"]:after{
	content: "";
	display: block;
	height: 0;
	clear: both;
}
[data-role="nav"] li{
	list-style: none;
	font-size: 1.3em;
	float: left;
	margin: 0;
	text-align: center;
	height: 100%;
	height: 50px;
}
[data-role="nav"] li span{
	display: block;
	height: 35px;
	line-height: 35px;
	overflow: hidden;
}
[data-role="nav"] li span img{
	width: 15px;
	line-height: 35px;
}
[data-role="nav"] li.active span img.normal{
	display: none;
}
[data-role="nav"] li.active span img.checked{
	display: inline;
}
[data-role="nav"] li span img.normal{
	display: inline;
}
[data-role="nav"] li span img.checked{
	display: none;
}
[data-role="nav"] li label{
	display: block;
	margin: auto;
	margin-top: -2px;
	text-align: center;
	line-height: 10px;
	font-size: 0.6em;
	font-weight: 100;
}
[data-role="nav"] li.active{
	color: #0099ff;
	opacity: 0.7;
}
[data-role="page-mode"]{
	display: none;
}
[data-role="page-mode"].active{
	display: block;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
	height: 0;
}
/*图片轮播*/
.carousel-indicators{
	margin-bottom: 0;
}
.carousel-indicators li{
	width: 5px;
	height: 5px;
}
.carousel-indicators li.active{
	width: 5px;
	height: 5px;
	margin-bottom: 1px;
}
.carousel-caption{
	padding-bottom: 0;
}
.item img{
	margin: auto;
}

/****************模糊滤镜*******************/
.blur {	
    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    
    -webkit-filter: blur(10px); /* Chrome, Opera */
       -moz-filter: blur(10px);
        -ms-filter: blur(10px);    
            filter: blur(10px);
    
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
}

/****************animate*******************/
.slideChange{
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.leftSlideIn{
	-webkit-animation-name: lsi;
  	animation-name: lsi;
  	left: 0;
}
@-webkit-keyframes lsi{
	from{
		-webkit-transform: translate3d(-100%, 0, 0);
    	transform: translate3d(-100%, 0, 0);
	}
	to{
		-webkit-transform: translate3d(0%, 0, 0);
    	transform: translate3d(0%, 0, 0);
	}
}
@keyframes  lsi{
	from{
		-webkit-transform: translate3d(-100%, 0, 0);
    	transform: translate3d(-100%, 0, 0);
	}
	to{
		-webkit-transform: translate3d(0%, 0, 0);
    	transform: translate3d(0%, 0, 0);
	}
}
.leftSlideOut{
	-webkit-animation-name: lso;
  	animation-name: lso;
}
@-webkit-keyframes lso{
	from{
		-webkit-transform: translate3d(0%, 0, 0);
    	transform: translate3d(0%, 0, 0);
	}
	to{
		-webkit-transform: translate3d(-100%, 0, 0);
    	transform: translate3d(-100%, 0, 0);
	}
}
@keyframes  lso{
	from{
		-webkit-transform: translate3d(0%, 0, 0);
    	transform: translate3d(0%, 0, 0);
	}
	to{
		-webkit-transform: translate3d(-100%, 0, 0);
    	transform: translate3d(-100%, 0, 0);
	}
}
.rightSlideIn{
	-webkit-animation-name: rsi;
  	animation-name: rsi;
  	right: 0;
}
@-webkit-keyframes rsi{
	from{
		-webkit-transform: translate3d(100%, 0, 0);
    	transform: translate3d(100%, 0, 0);
	}
	to{
		-webkit-transform: translate3d(0%, 0, 0);
    	transform: translate3d(0%, 0, 0);
	}
}
@keyframes  rsi{
	from{
		-webkit-transform: translate3d(100%, 0, 0);
    	transform: translate3d(100%, 0, 0);
	}
	to{
		-webkit-transform: translate3d(0%, 0, 0);
    	transform: translate3d(0%, 0, 0);
	}
}
.rightSlideOut{
	-webkit-animation-name: rso;
  	animation-name: rso;
}
@-webkit-keyframes rso{
	from{
		-webkit-transform: translate3d(0%, 0, 0);
    	transform: translate3d(0%, 0, 0);
	}
	to{
		-webkit-transform: translate3d(100%, 0, 0);
    	transform: translate3d(100%, 0, 0);
	}
}
@keyframes  rso{
	from{
		-webkit-transform: translate3d(0%, 0, 0);
    	transform: translate3d(0%, 0, 0);
	}
	to{
		-webkit-transform: translate3d(100%, 0, 0);
    	transform: translate3d(100%, 0, 0);
	}
}
.pageChange{
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.pageIn{
	-webkit-animation-name: pi;
  	animation-name: pi;
}
@-webkit-keyframes pi{
	from{
		-webkit-transform: translate3d(100%, 0, 0);
    	transform: translate3d(100%, 0, 0);
	}
	to{
		 -webkit-transform: none;
    	transform: none;
	}
}
@keyframes  pi{
	from{
		-webkit-transform: translate3d(100%, 0, 0);
    	transform: translate3d(100%, 0, 0);
	}
	to{
		-webkit-transform: none;
    	transform: none;
	}
}
.pageOut{
	-webkit-animation-name: po;
  	animation-name: po;
}
@-webkit-keyframes po{
	from{
		-webkit-transform: translate3d(-15%, 0, 0);
    	transform: translate3d(-15%, 0, 0);
	}
	to{
		-webkit-transform: none;
    	transform: none;
	}
}
@keyframes  po{
	from{
		 -webkit-transform: translate3d(-15%, 0, 0);
    	transform: translate3d(-15%, 0, 0);
	}
	to{
		-webkit-transform: none;
    	transform: none;
	}
}
.pageChange-half{
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.pageIn-half{
	-webkit-animation-name: pih;
  	animation-name: pih;
}
@-webkit-keyframes pih{
	from{
		-webkit-transform: none;
    	transform: none;
	}
	to{
		-webkit-transform: translate3d(-15%, 0, 0);
   		transform: translate3d(-15%, 0, 0);
	}
}
@keyframes  pih{
	from{
		-webkit-transform: none;
    	transform: none;
	}
	to{
		 -webkit-transform: translate3d(-15%, 0, 0);
   		 transform: translate3d(-15%, 0, 0);
	}
}
.pageOut-half{
	-webkit-animation-name: poh;
  	animation-name: poh;
}
@-webkit-keyframes poh{
	from{
		-webkit-transform: none;
    	transform: none;
	}
	to{
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(115%, 0, 0);
	}
}
@keyframes  poh{
	from{
		-webkit-transform: none;
    	transform: none;
	}
	to{
		-webkit-transform: translate3d(100%, 0, 0);
   		transform: translate3d(115%, 0, 0);
	}
}

.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.rotateAnimate{
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-name: rotate;
	animation-name: rotate;
	-webkit-animation-timing-function: linear;
	animation-timing-function:linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -180deg);
    transform: rotate3d(0, 0, 1, -180deg);
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, 180deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -180deg);
    transform: rotate3d(0, 0, 1, -180deg);
    opacity: 1;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 180deg);;
    transform: rotate3d(0, 0, 1, 180deg);;
    opacity: 1;
  }
}

#loading{
	background-color: rgba(0,0,0,0.1);
	font-size: 2em;
	text-align: center;
	z-index: 10000;
	color: #8C8C8C;
	position: fixed;
	/*margin-top: 100px;*/
	display: table;
}
#loading div{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
#loading div div{
	position: absolute;
	height: 30px;
	width: 30px;
	border-style: solid;
	border-width: 2px;
	border-radius: 20px;
	border-top-color: rgba(0,0,0,0.2);
	border-right-color: rgba(0,0,0,0.4);
	border-bottom-color: rgba(0,0,0,0.6);
	border-left-color: rgba(0,0,0,0.8);
}
