*{
	box-sizing: border-box;
	word-break: break-word;
	font-family: font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
	background-color: rgb(245,245,245);
	overflow-x:hidden;
	overflow-y: scroll
}
[data-role='page']{
	width: 100%;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}
[data-role='page']:first-child{
	display: block;
}
[data-role='header'],[data-role='content'],[data-role='footer']{
	width: 100%;
}
[data-role='header']{
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgb(235,235,235);
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	z-index: 1000;
	text-align:center;
}
[data-role='footer']{
	height: 50px;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: rgb(235,235,235);
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	z-index: 1000;
}
[data-role="content"]{
	background-color: rgb(255,255,255);
	overflow-x: hidden;
	overflow-y: auto;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
	padding: 0px;
}
.VMcontent{
	display: table;
}
.VMinner{
	display: table-cell;
	vertical-align: middle;
}
[data-role='content'].withHeader:before{
	content: "";
	height: 50px;
	display: block;
	clear: both;
}
[data-role='content'].withFooter:after{
	content: "";
	height: 50px;
	display: block;
	clear: both;
}
[data-role='slideBar']{
	width: 40%;
	max-width: 300px;
	position: fixed;
	top: 0;
	display:none;
	padding: 5px;
}
[data-role='header'] h4{
	margin: 0;
	position:absolute;
	margin:auto;
	left:50px;
	margin-top: 17px;
	margin-left: 5px;
	margin-right: 5px;
	word-break:keep-all;           
	white-space:nowrap;          
	overflow:hidden;               
	text-overflow:ellipsis;
	text-align: center;
}
.btn-head-right{
	width: 50px;
	height: 50px;
	float: right;
	margin: 0;
	border-radius: 0;
	font-size: 1.3em;
	padding-top: 15px;
	position: absolute;
	top: 0;
	right: 0;
}
.btn-head-left{
	width: 50px;
	height: 50px;
	float: left;
	border-radius: 0;
	font-size: 1.3em;
	padding-top: 15px;
	position: absolute;
	top: 0;
	left: 0;
}

[data-role="nav"]{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 50px;
}
[data-role="nav"]:after{
	content: "";
	display: block;
	height: 0;
	clear: both;
}
[data-role="nav"] li{
	list-style: none;
	font-size: 1.3em;
	float: left;
	margin: 0;
	text-align: center;
	height: 100%;
	height: 50px;
}
[data-role="nav"] li span{
	display: block;
	height: 35px;
	line-height: 35px;
}
[data-role="nav"] li span img{
	width: 17px;
	margin-top: 10px;
}
[data-role="nav"] li label{
	display: block;
	margin: auto;
	margin-top: -2px;
	text-align: center;
	line-height: 10px;
	font-size: 0.6em;
}
[data-role="nav"] li.active{
	color: #0099ff;
	opacity: 0.7;
}
[data-role="page-mode"]{
	display: none;
}
[data-role="page-mode"].active{
	display: block;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
	height: 0;
}
/****************animate*******************/
.slideChange{
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.slideIn{
	-webkit-animation-name: si;
  	animation-name: si;
  	right: 0;
}
@-webkit-keyframes si{
	/*from{ right: -50%;}
	to{right: 0;}*/
	from{
		-webkit-transform: translate3d(100%, 0, 0);
    	transform: translate3d(100%, 0, 0);
	}
	to{
		-webkit-transform: none;
    	transform: none;
	}
}
@keyframes  si{
	/*from{ right: -50%;}
	to{right: 0;}*/
	from{
		-webkit-transform: translate3d(100%, 0, 0);
    	transform: translate3d(100%, 0, 0);
	}
	to{
		-webkit-transform: none;
    	transform: none;
	}
}
.slideOut{
	-webkit-animation-name: so;
  	animation-name: so;
}
@-webkit-keyframes so{
	/*from{right: 0;}
	to{right: -50%;}*/
	from{
		-webkit-transform: none;
    	transform: none;
	}
	to{
		-webkit-transform: translate3d(100%, 0, 0);
    	transform: translate3d(100%, 0, 0);
	}
}
@keyframes  so{
	/*from{ right: 0;}
	to{right: -50%;}*/
	from{
		-webkit-transform: none;
    	transform: none;
	}
	to{
		-webkit-transform: translate3d(100%, 0, 0);
    	transform: translate3d(100%, 0, 0);
	}
}
.pageChange{
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.pageIn{
	-webkit-animation-name: pi;
  	animation-name: pi;
}
@-webkit-keyframes pi{
	/*from{left: 100%;}
	to{left: 0;}*/
	from{
		 -webkit-transform: translate3d(100%, 0, 0);
    	transform: translate3d(100%, 0, 0);
	}
	to{
		 -webkit-transform: none;
    	transform: none;
	}
}
@keyframes  pi{
	/*from{ left: 100%;}
	to{left: 0;}*/
	from{
		 -webkit-transform: translate3d(100%, 0, 0);
    	transform: translate3d(100%, 0, 0);
	}
	to{
		-webkit-transform: none;
    	transform: none;
	}
}
.pageOut{
	-webkit-animation-name: po;
  	animation-name: po;
}
@-webkit-keyframes po{
	/*from{ left: -100%;}
	to{left: 0%;}*/
	from{
		 -webkit-transform: translate3d(-15%, 0, 0);
    	transform: translate3d(-15%, 0, 0);
	}
	to{
		-webkit-transform: none;
    	transform: none;
	}
}
@keyframes  po{
	/*from{ left: -100%;}
	to{left: 0%;}*/
	from{
		 -webkit-transform: translate3d(-15%, 0, 0);
    	transform: translate3d(-15%, 0, 0);
	}
	to{
		-webkit-transform: none;
    	transform: none;
	}
}
.pageChange-half{
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.pageIn-half{
	-webkit-animation-name: pih;
  	animation-name: pih;
}
@-webkit-keyframes pih{
	/*from{ left: 0%;}
	to{left: -15%;}*/
	from{
		-webkit-transform: none;
    	transform: none;
	}
	to{
		 -webkit-transform: translate3d(-15%, 0, 0);
   		 transform: translate3d(-15%, 0, 0);
	}
}
@keyframes  pih{
	/*from{ left: 0%;}
	to{left: -15%;}*/
	from{
		-webkit-transform: none;
    	transform: none;
	}
	to{
		 -webkit-transform: translate3d(-15%, 0, 0);
   		 transform: translate3d(-15%, 0, 0);
	}
}
.pageOut-half{
	-webkit-animation-name: poh;
  	animation-name: poh;
}
@-webkit-keyframes poh{
	/*from{ left: 0%;}
	to{left: 15%;}*/
	
	from{
		-webkit-transform: none;
    	transform: none;
	}
	to{
		 -webkit-transform: translate3d(100%, 0, 0);
   		 transform: translate3d(115%, 0, 0);
	}
}
@keyframes  poh{
	/*from{ left: 0%;}
	to{left: 15%;}*/
	from{
		-webkit-transform: none;
    	transform: none;
	}
	to{
		 -webkit-transform: translate3d(100%, 0, 0);
   		 transform: translate3d(115%, 0, 0);
	}
}

.animated {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
#loading{
	background-color: rgba(0,0,0,0.1);
	font-size: 2em;
	text-align: center;
	z-index: 10000;
	color: #8C8C8C;
	position: fixed;
	/*margin-top: 100px;*/
	display: table;
}
#loading div{
	display: table-cell;
	vertical-align: middle;
}

.btn-primary {
  	color: #fff;
  	background-color: #0099ff;
  	border-color: #0088ff;
}